<div class="container-fluid">
	<h1 class="faqsheadline">STAMPS & COLORS</h1>
	<div class="row justify-content-center">
		<div class="col-md-7">
			<div class="col-sm-12 faqsbg lowermargin">
				<h4> CONCRETE STAMPS</h4> 
				
				<div class="row">	
					<div class="col-md-4">
					<h4>ASHLAR SLATE</h4>
					<img class="" src="<%= asset_path('AshlarSlateStampCC.jpg') %>" width="100%"/>
					<div class="d1">
						<h6>Read description...</h6>
					</div>
					<div class="d01">
						<p>The true elegance of Ashlar Slate is a must have at some households. Either for a pool or patio, the concrete will look beautiful and stand out among the rest.
						</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>BASKETWEAVE</h4>
					<img class="" src="<%= asset_path('BasketweaveStamp.jpg') %>" width="100%"/>
					<div class="d2">
						<h6>Read description...</h6>
					</div>
					<div class="d02">
					<p>Embrace the unconventional. Warm-up your patio or pool-side with the look of Basketweave. 
					Stamped concrete gives you the freedom to carry your interior design sense into your great outdoors!
					</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>COMPASS STAMP</h4>
					<img class="" src="<%= asset_path('Creative-Concrete_patio.jpg') %>" width="100%"/>
					<div class="d3">
						<h6>Read description...</h6>
					</div>
					<div class="d03">
					<p>Let's get Creative! 
					In 25 years in this business I have seen countless interesting shapes, forms, patterns and color combinations. When I come to do an estimate I'll listen to your goals and share my opinions about which Concrete Choices would work best for you. 
					Obviously, the final choice is yours but I can guide you, remove the stress and reassure you that anything you want, we can do!
					</p>
					</div>
					</div>

				</div>
				
				<div class="row">
					<div class="col-md-4">
					<h4>ENGLISH COBBLESTONE</h4>
					<img class="" src="<%= asset_path('English-Cobblestone1.jpg') %>" width="100%"/>
					<div class="d4">
						<h6>Read description...</h6>
					</div>
					<div class="d04">
					<p>The traditional look of English Cobblestone will give you that european flare while still providing a great peice of concrete to add to your home.
					</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>EUROPEAN FAN </h4>
					<img class="" src="<%= asset_path('stamped_euro_fan.jpg') %>" width="100%"/>
					<div class="d5">
						<h6>Read description...</h6>
					</div>
					<div class="d05">
					<p>Classic European flatwork adds a touch of formality and class to driveways, patios, walkways and porches. These are styles that complement traditional architecture and provide the finishing touch for manicured landscapes.
					</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>FLAGSTONE</h4>
					<img class="" src="<%= asset_path('Flagstones.jpg') %>" width="100%"/>
					<div class="d6">
						<h6>Read description...</h6>
					</div>
					<div class="d06">
					<p>For that "all-American", pioneering look, choose a stone stamp. Stamped concrete that looks just like stonework will complement modern architecture and set the relaxed mood of informal garden and patio spaces.
					</p>
					</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
					<h4>FLATROCK</h4>
					<img class="" src="<%= asset_path('concrete_patio.jpg') %>" width="100%"/>
					<div class="d7">
						<h6>Read description...</h6>
					</div>
					<div class="d07">
					<p>Embrace the unconventional. Warm-up your patio or pool-side with the look of FlatRock. 
					Stamped concrete gives you the freedom to carry your interior design sense into your great outdoors!
					</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>HERRINGBONE</h4>
					<img class="" src="<%= asset_path('stamped_herringbone.jpg') %>" width="100%"/>
					<div class="d8">
						<h6>Read description...</h6>
					</div>
					<div class="d08">
					<p>Classic European flatwork adds a touch of formality and class to driveways, patios, walkways and porches. These are styles that complement traditional architecture and provide the finishing touch for manicured landscapes.
					</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>RANDOM STONE</h4>
					<img class="" src="<%= asset_path('randomstone.jpg') %>" width="100%"/>
					<div class="d9">
						<h6>Read description...</h6>
					</div>
					<div class="d09">
					<p>Random Stone, one of our most popular stamps that shows the look of beautiful rocks combining to make a beautiful patio, driveway etc.
					</p>
					</div>
				</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
					<h4>SLATE TILE</h4>
					<img class="" src="<%= asset_path('Creative-Concrete_patio.jpg') %>" width="100%"/>
					<div class="d10">
						<h6>Read description...</h6>
					</div>
					<div class="d010">
					<p>Bring the look of beautiful tile out to to your backyard. Not only in your kitchen anymore. Slate Tile provides a clean feel that everyone can enjoy.
					</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>RANDOM STONE</h4>
					<img class="" src="<%= asset_path('randomstone.jpg') %>" width="100%"/>
					<div class="d11">
						<h6>Read description...</h6>
					</div>
					<div class="d011">
					<p>Random Stone, one of our most popular stamps that shows the look of beautiful rocks combining to make a beautiful patio, driveway etc.
					</p>
					</div>
					</div>

					<div class="col-md-4">
					<h4>WOOD PLANK</h4>
					<img class="" src="<%= asset_path('pooldeck.jpg') %>" width="100%"/>
					<div class="d12">
						<h6>Read description...</h6>
					</div>
					<div class="d012">
					<p>Embrace the unconventional. Warm-up your patio or pool-side with the look of wood or leather. 
					Stamped concrete gives you the freedom to carry your interior design sense into your great outdoors!
					</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-md-5 ">
			<div class="col-sm-12 faqsbg lowermargin">
				<h4> CONCRETE COLORS</h4> 
				<p>There are many colors to choose from if you don't like the look of standard concrete. Match * the colors below with a concrete stamp to create your perfect look.</p>
				<p><span style="color:red; font-size:1.3em;">*</span> Colors as viewed on monitors and most printers are not accurate. Please use these cards for general color reference only.</p>
				<img class="" src="<%= asset_path('concrete_colors1.jpg') %>" width="100%"/>
				<img class="" src="<%= asset_path('concrete_colors2.jpg') %>" width="100%"/>
				<p><span style="color:red; font-size:1.3em;">*</span> Colors as viewed on monitors and most printers are not accurate. Please use these cards for general color reference only.</p>
			</div>
		</div>
	</div>
</div>
</div>