<div class="conatiner">
	<h1 class="testimonialheadline">Testimonials</h1>
	<h5 class="testimonialheadline2"><i class="fa fa-quote-left" aria-hidden="true"></i>A few words from our Happy Customers<i class="fa fa-quote-right" aria-hidden="true"></i></h5>
	<div class="conatiner bgtestimonial">
	<div class="row">
		<div class="col-md-6 testimonialcolumn">
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><iframe width="100%" height="253" src="https://www.youtube.com/embed/BDq9j1nSc74" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div></div>
		<div class="col-md-8">
		<h5>The Widmers</h5>
		<p>"…it's been about three years...the color match-up with my other pad was dead-on…the quality of the concrete has been great…the stamping was perfect…I can't say enough.</p>
		<p>"…they did a heck of a job and the price was great. They were very professional…I would recommend Creative Concrete to any of my friends or relatives."</p>
		</div>
		</div>
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><iframe width="100%" height="254" src="https://www.youtube.com/embed/AGYn_nYaxD4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div></div>
		<div class="col-md-8">
		<h5>Eva & John Cunningham</h5>
		<p>"…we got a new driveway put in by Bo Tucker and Creative Concrete and we love it…he gave us a great price…we went with the porch too, and everything turned out fantastic…it's been a year now and no cracks. We couldn't be happier."</p>
		<p>"…the service was very good; he was very prompt…we highly recommend the company."</p>
		</div>
		</div>
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><img class="" src="<%= asset_path('testimonial_pool1.png') %>" width="100%"/></div></div>
		<div class="col-md-8">
		<h5>Brian R. Helfrich, NY</h5>
		<p>"…I wanted to let you know that Creative Concrete completed my concrete and cantilever coping a short time ago. My wife and I could not be more pleased with work, service level/customer service, and communication provided by Bo Tucker and his crew through this process.</p>
		<p>They provided us with Top Notch Service and I would recommend Creative Concrete to anyone needing concrete work done for a pool or any other type of job."</p>
		</div>
		</div>
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><img class="" src="<%= asset_path('stamped_european_fan.jpg') %>" width="100%"/></div></div>
		<div class="col-md-8">
		<h5>Jennifer McCourt</h5>
		<p>"Thank you very much for the job you did on my stamped concrete patio…Thank you for taking teh time to really find out what I wanted and for all the suggestions you gave me.</p>
		<p>"…I called you…and the next day you were at my house going over the patio design and all the different options that I have available to me…I would definitely recommend you to my family and friends."</p>
		</div>
		</div>
		</div>
		<div class="col-md-6">
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><img class="" src="<%= asset_path('testimonial_elma.png') %>" width="100%"/></div></div>
		<div class="col-md-8">
		<h5>Mr. Dennis M. Powers, Supervisor, Town of Elma, NY</h5>
		<p>"…I have known Bo Tucker, owner of Creative Concrete, Inc. for several years in position as Elma Town Councilman and most recently Elma Town Supervisor…Creative Concrete employs experienced empowered employees with a special skill set that produces a high level of productivity and quality of service.</p>
		<p>"…Most recently Bo Tucker with Creative Concrete, Inc. unitlized his efforts, contribution, and dedication in helping to complete a major project in the Town of Elma…the Hurd & Briggs Saw Mill. Without his contributions and perseverence the project would not have been completed."</p>
		</div>
		</div>
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><img class="" src="<%= asset_path('concrete_driveway.jpg') %>" width="100%"/></div></div>
		<div class="col-md-8">
		<h5>John O'Neill</h5>
		<p>"I can't thank you enough for the job you did at my house. My driveway looks amazing!</p>
		<p>"…You were very prompt and diligent. You gave us several ideas and did a wonderful exposed aggregate driveway. I have had many neighbors stop and tell us how beautiful the driveway looks and ask us who did the work. I am happy to recommend you and your company to them."</p>
		</div>
		</div>
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><img class="" src="<%= asset_path('stamped_herringbone.jpg') %>" width="100%"/></div></div>
		<div class="col-md-8">
		<h5>Ray Balderzak, Elma, NY</h5>
		<p>"…I am the building inspector for the Town of Elma. When I needed concrete work done at my home, only one name came to mind…Creative Concrete.</p>
		<p>"…I knew only one phone call was necessary. The job was done to my exact specifications and in a timely manner.</p>
		<p>"…I then needed a floor for our commercial barn…and again a professional job was completed."</p>
		</div>
		</div>
		<div class="row testimonialrow">
		<div class="col-md-4"><div class="col-xs-11"><img class="" src="<%= asset_path('testimonial_pool1.png') %>" width="100%"/></div></div>
		<div class="col-md-8">
		<h5>Frank Tobias, West Seneca, NY</h5>
		<p>"…we decided to go with extra decorative concrete around our pool. Bo Tucker of Creative Concrete came out and designed a pool area for us…We went with what he suggested, and I must tell you it exceeds out expectations.</p>
		<p>"…we again called Creative Concrete to come out and design our decorative driveway. Onca again, Bo and his professional crew achieved that 'wow' factor for our driveway."</p>
		</div>
		<?
		</div>
	</div>
</div>
</div>
</div>